@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --task-card-color: 255, 255, 255;
  --speed: 0.15s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --task-card-color: 22, 22, 22;
  }
}

body {
  color: rgb(var(--text-color-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  &.ptr-events-none {
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
  }
}
